#cv-top {
  background: #5e35b1 !important;
}
h3,
.head {
  color: #5e35b1 !important;
}
#form-cv .wfa {
  color: #5e35b1 !important;
  border: 2px solid #5e35b1 !important;
}
#cv-content h3 {
  color: #5e35b1 !important;
}
#cv-main,
#cv-content {
  background: url(../img/5E35B1.png) 192px top repeat-y !important;
}
.bar-exp div {
  background: #5e35b1 !important;
}
