#cv-top {
  background: #3949ab !important;
}
h3,
.head {
  color: #3949ab !important;
}
#form-cv .wfa {
  color: #3949ab !important;
  border: 2px solid #3949ab !important;
}
#cv-content h3 {
  color: #3949ab !important;
}
#cv-main,
#cv-content {
  background: url(../img/line.png) 192px top repeat-y !important;
}
.bar-exp div {
  background: #3949ab !important;
}
